<odoo>
    <data>
        <report
            id="report_product_stock_id_1"
            string="Simple Stock Report"
            model="product.template"
            report_type="qweb-pdf"
            name="simple_stock_report.report_product_stock_template"
            file="simple_stock_report.report_product_stock_template"
        />

        <menuitem
            id="menu_report_stock_1"
            name="Simple Stock Report"
            parent="stock.menu_stock_reports"
            action="report_product_stock_id_1"
            sequence="10"
        />
    </data>
</odoo>